/* 蜂コンテナで飛ぶ範囲を制限 */
.bee-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: visible;
    z-index: 999;

}

/* 蜂の見える範囲を限定 */
.bee {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-image: url('../images/bee1.png');
    background-size: cover;
    animation: fly 10s infinite linear;
    will-change: transform;
    pointer-events: none;
    z-index: 999;
    max-width: 100vw;
    /* 横スクロール防止対策 */
}



/* 蜂のスタイル */
.bee {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('../images/bee1.png');
    /* ここに蜂の画像を配置 */
    background-size: cover;
    animation: fly 10s infinite linear;
    will-change: transform;
    pointer-events: none;
    z-index: 999;
}

/* 蜂が飛ぶアニメーション */
@keyframes fly {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(150px, -50px);
    }

    50% {
        transform: translate(300px, 0);
    }

    75% {
        transform: translate(150px, 50px);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* 蜂がランダムに飛ぶように、位置を調整する */
@keyframes random-fly {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(100vw, 100vh);
    }

    100% {
        transform: translate(0, 0);
    }
}